* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    max-width: 450px;
    overflow: hidden;
}

#display {
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 1px solid white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 25px;
}

button {
    background-color: rgb(52, 46, 46);
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50px;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(105, 101, 101);
}

.operator {
    background-color: orange;
    transition: all 0.2s;
}

.operator:hover {
    background-color: rgb(243, 183, 137);
}